<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @vote_comment.user_id %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @vote_comment.comment_id %>
</p>

<%= link_to 'Edit', edit_vote_comment_path(@vote_comment) %> |
<%= link_to 'Back', vote_comments_path %>
