@import url(https://fonts.googleapis.com/css?family=Poiret+One|Cabin|Dosis|Lobster|Nunito|Maven+Pro|Shadows+Into+Light|Orbitron|Open+Sans+Condensed:300|Ubuntu+Condensed|Coming+Soon);
/** base variables **/

$bgcolor: #60585A;
$form_color: #000;

@mixin header($size) {
  font-family: 'Shadows Into Light', sans-serif;
  font-weight: bold;
  font-size: $size;
  color: #445;
}

@mixin form($form_color){
  width: 70%;
  background-color: lighten($bgcolor, 10%);
  padding: 30px 50px 100px 30px;
  margin: 10px;
  border: 1px solid;
  color: $form_color;
}
